<html>
  <head>
    <title>Map</title>
    
    <script src="js/jquery.js"></script>
    <script>
    	$(document).ready(function() {
    		function processAttackResponse(data) {
				$('#attacklist').html(data);
			}

			$('#update').click(function() {
			  $.get("/map/updateAttacks","",processAttackResponse);
			})
			
			$('#attack').click(function() {
				$.post("/attack",
				 "ax="+($('#ax').val())+"&ay="+$('#ay').val(),
				 "bx="+($('#bx').val())+"&by="+$('#by').val(),
				 "ships="+($('#ships').val())
				 
				function () {});
			})
    	});
    </script>
  </head>
  <body>
  	<div>Welcome <%= @user.name %></div>
  	<div>Current Tick = <%= @@ticks.to_s %></div>
  	<div>Menge an Sektoren: <%=@usersecs.size %></div>
  	<%@usersecs.each do |sec|  %>
  		<div>X : <%=sec.x%> </div>
  		<div>Y : <%=sec.y%> </div>
  		<div>Ships: <%=sec.ships%> </div>
    <%end%>
    <div>Angriffe</div>
    <div id="attacklist"></div>
	<input type="text" id="ax">
    <input type="text" id="ay"> 
    <input type="text" id="bx">
    <input type="text" id="by">
    <input type="text" id="ships">
      
    <button id="attack">Attack</button>
    
    <button id="update">Update</button>
       
	<div>Karte</div>
  	<%@secs.each do |sec|  %>
  		<div>X : <%=sec.x%> </div>
  		<div>Y : <%=sec.y%> </div>
  		<div>Ships: <%=sec.ships%> </div>
  		<div>User: <%=sec.user_id%> </div>
    <%end%>
    
  </body>
</html>